html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: rgb(230, 114, 150); 
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.coord-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(174, 120, 225, 0.813);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid rgb(127, 111, 201); 
    border-radius: 30px;
    padding: 30px 60px;
    
    color: rgb(114, 31, 31);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    
    transition: all 0.2s ease;
}


